.todo-container{
    margin: 2rem;
    border: 1px solid black;
    box-shadow: rgba(8, 27, 41, 0.7) 0px 30px 90px;
    background-color: rgb(8, 27, 41, 0.6);
    filter: drop-shadow(7px 3px 3px #00000077);
    border-radius: 1rem;
}
.main{
    text-align: center;
}